<!doctype html class="m-0">
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
<title>Home</title>
</head>
<body class="bg-gray-600 font-body box-border">

   <!-- Navbar -->
   <%- include('./partials/navbar.ejs') %>

   <div class="flex justify-center p-5 items-center  w-full h-screen">
    <div class="text-gray-100 text-center">
        <h1 class="text-6xl">About this project &#128526;</h1><br>
        <p class="text-2xl">This project is made by Shivam Yadav. You can visit Github repository of this project by clicking on the below link.</p><br>
        <a href="https://github.com/ShivamYadav-Coding" class="btn-link text-xl bg-indigo-700 hover:bg-indigo-900 p-2 mt-8 rounded-lg"  target="_blank" rel="noopener noreferrer">Visit Github Repo</a>
    </div>
   </div>

  <script src="/js/script.js"></script>
  </body>
</html>