<!doctype html>
<html lang="en">
<head>
<%- include('./partials/header.ejs') %>
<title>Hello, world!</title>
</head>
<body class="bg-gray-800 font-body">
<div class="flex flex-col h-full w-full justify-center">

    <h1 class="m-3 text-4xl text-center text-gray-100"><img src="img/NoteYacht-logo.gif" alt="NoteYacht logo" class=" h-14 w-14 inline "> NoteYacht</h1>
    <p class="text-gray-200 text-center text-xl">A place to organize and share notes.</p>
    
    <form action="/" method="POST" class="place-self-center text-center bg-gray-50 w-11/12 p-2 mt-3 sm:w-96 rounded-lg shadow-2xl">
    
        <h2 class="font-bold text-2xl text-indigo-600 py-2">Login</h1>

        <!-- Error -->
        <p class=" text-red-600 hidden">Problem in credentials.</p>
        
        <!-- Email id -->
        <div class="form-element text-left m-2">
            <label for="email" class="text-indigo-600 text-xl font-semibold italic font-headings">Enter your Email</label>
            <input type="email" name="email" id="" placeholder="example@gmail.com" class="w-full p-2 border rounded-md border-gray-700 my-2 focus:outline-none focus:shadow-lg">
        </div>

        <!-- Password -->
        <div class="form-element text-left m-2">
            <label for="password" class="text-indigo-600  text-xl font-semibold italic font-headings">Enter your Password</label>
            <input type="password" name="password" id="" placeholder="***********" class="w-full p-2 border rounded-md border-gray-700 my-2 focus:outline-none focus:shadow-lg">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-indigo w-full">Log In</button>
        <div class="m-2">
            <a href="/forgotPassword" class="block">Forgotten password?</a><br>
            <a href="/register" class="btn-link btn-link-blue px-24 sm:px-36">Register</a>
        </div>
    </form>
</div>
<script src="js/script.js"></script>
</body>
</html>