<!doctype html>
<html lang="en">
<head>
<%- include('./partials/header.ejs') %>
<title>Forgotten Password</title>
</head>
<body class="bg-gray-800 font-body">
<div class="flex flex-col h-full w-full justify-center">

    <h1 class="m-3 text-4xl text-center text-gray-100"><img src="/img/NoteYacht-logo.gif" alt="NoteYacht logo" class=" h-14 w-14 inline "> NoteYacht</h1>
    <p class="text-gray-200 text-center text-xl">A place to organize and share notes.</p>
    
    <form action="/resetPassword" method="POST" class="place-self-center text-center bg-gray-50 w-11/12 p-2 mt-3 sm:w-96 rounded-lg shadow-2xl">
    
        <h2 class="font-bold text-2xl text-indigo-600 py-2">Reset Password</h1>
        
        <!-- Email -->
        <div class="form-element text-left m-2">
            <input type="hidden" name="email" value="<%= email %>">
        </div>

        <!-- Password -->
        <div class="form-element text-left m-2">
            <input type="password" name="password" id="" placeholder="Enter your new password" class="w-full p-2 border rounded-md border-gray-700 my-2 focus:outline-none focus:shadow-lg">
        </div>

        <!-- Confirm Password -->
        <div class="form-element text-left m-2">
            <input type="password" name="confirmPassword" id="" placeholder="Enter your new password" class="w-full p-2 border rounded-md border-gray-700 my-2 focus:outline-none focus:shadow-lg">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-indigo w-full">Submit</button>
    </form>
</div>
<script src="js/script.js"></script>
</body>
</html>